In [1]:
import pandas as pd
import math
from urllib.parse import unquote
from collections import deque

In [2]:

def title_parse(title):
    title = unquote(title)
    return title

In [3]:
columns = ['hashedIpAddress','timestamp','durationInSec','path','rating']
df = pd.read_csv('wikispeedia_paths-and-graph/paths_finished.tsv',delimiter='\t',encoding='UTF-8',skiprows=16,header=None,names=columns)
df['path']= df.path.apply(title_parse)
df

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0
...,...,...,...,...,...
51313,15a13a1d66ef5456,1349231015,66,Yagan;Ancient_Egypt;Civilization,NaN
51314,2ef7ac844cefda58,1300254138,165,Yagan;Folklore;Brothers_Grimm;<;19th_century;C...,3.0
51315,12863abb7887f890,1385095372,228,Yagan;Australia;England;France;United_States;T...,NaN
51316,19f8284371753362,1298792567,56,"Yarralumla,_Australian_Capital_Territory;Austr...",1.0
51317,24b84602179de377,1318122701,30,Ziad_Jarrah;Germany;Jew,NaN

In [4]:
columns = ['article','ID']
df2 = pd.read_csv('article-ids.csv',names=columns)
df2['article']= df2.article.apply(title_parse)
df2

                    article     ID
0         Áedán_mac_Gabráin  A0001
1                     Åland  A0002
2             Édouard_Manet  A0003
3                      Éire  A0004
4     Óengus_I_of_the_Picts  A0005
...                     ...    ...
4599                Zionism  A4600
4600              Zirconium  A4601
4601              Zoroaster  A4602
4602           Zuid-Gelders  A4603
4603                   Zulu  A4604

[4604 rows x 2 columns]

In [14]:

columns = ['article','ID']
df3 = pd.read_csv('article-ids.csv',names=columns)
df3['article'] = df3.article.apply(title_parse)

art_ID = dict()

data = df3['article']
data_ID = df3['ID']

for i in range(len(data)):
    art_ID[data[i]]=data_ID[i]

In [15]:
f = open('wikispeedia_paths-and-graph/shortest-path-distance-matrix.txt')
lines = f.readlines()

In [32]:

human_path = []
shortest_path = []
ratio = []

for index, row in df.iterrows():
    
    path_ = row['path']
    path_ = path_.split(';')
    
    #path_ = [i for i in path_ if i != "<"] 
    
    s = path_[0]
    d = path_[-1]
    
    if len(path_)>=2:
        
        s1 = int(art_ID[s][1:])
        d1 = int(art_ID[d][1:])
        
        if lines[s1+16][d1-1]!='_':
            shortest_path.append(int(lines[s1+16][d1-1]))
            human_path.append(len(path_)-1)
            ratio.append(human_path[-1]/shortest_path[-1])

In [33]:

human_path2 = []
shortest_path2 = []
ratio2 = []

for index, row in df.iterrows():
    
    path_ = row['path']
    path_ = path_.split(';')
    
    queue = deque()
    
    for i in path_:
        if i!='<':
            queue.append(i)
        else:
            queue.pop()
    
    path_ = list(queue)
        
    s = path_[0]
    d = path_[-1]
    
    if len(path_)>=2:

        s1 = int(art_ID[s][1:])
        d1 = int(art_ID[d][1:])
        
        if lines[s1+16][d1-1]!='_':
            shortest_path2.append(int(lines[s1+16][d1-1]))
            human_path2.append(len(path_)-1)
            ratio2.append(human_path2[-1]/shortest_path2[-1])

In [34]:
df3 = pd.DataFrame(list(zip(human_path, shortest_path, ratio)), columns =['human_path', 'shortest_path', 'ratio']) 
df3.to_csv('finished-paths-back.csv',index=False,header=None)

In [35]:
df4 = pd.DataFrame(list(zip(human_path2, shortest_path2, ratio2)), columns =['human_path', 'shortest_path', 'ratio']) 
df4.to_csv('finished-paths-no-back.csv',index=False,header=None)